/* Variáveis */

.view-body time {
  font-size: 1.2rem;
  font-weight: bold;
}

.evento {
  margin: 10px;
}

.saved-data {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #e7f7e7;
}

.saved-entry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--card-color);

  /* margin-bottom: 10px;
  padding: 10px;
  background-color: var(--card-color);
  
  
  width: 110rem;
  margin: 10px;
  line-height: 1.8; */
}

.file-preview {
  margin-top: 10px;
  width: 110rem;
}

.file-preview img,
.file-preview video {
  max-width: 100%;
  max-height: 50rem;
  display: block;
  margin-top: 10px;
  border-radius: 1rem;
}

.modal-input {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  /* border: 1px solid var(--border-color); */
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.modal-input::placeholder {
  color: #888;
  font-style: italic;
  font-size: 1.7rem;
  font-family: sans-serif;
}

.modal-input:focus {
  outline: none;
  border-color: var(--border-color);
}
.custom-file-upload {
  border: none;
}
.custom-file-upload::-webkit-file-upload-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--button-color);
  border: 1px solid var(var(--border-color));
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

.custom-file-upload:hover::-webkit-file-upload-button {
  background-color: var(--button-hover-color);
  border-color: var(--border-color);
}

.view-item {
  background-color: var(--bg-color);
}
