:root {
  /* --bg-color: #d8effe; */
  --bg-color: #e6f2ff;
  --text-color: #094067;
  --headline-color: #094067;
  --card-color: #f5faff;
  --font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: var(--font-family);
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
main,
footer {
  max-width: 70vw;
  min-width: 85ch;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  /* background-color: var(--card-color); */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

header nav ul li {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-svg {
  display: inline;
  width: 32px;
  height: 32px;
}

.nav-icon {
  width: 32px;
  height: 32px;
}

.sign-in {
  background-color: var(--headline-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.sign-in:hover {
  background-color: var(--card-color);
  color: var(--headline-color);
}

.academy {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

main {
  padding: 2rem;
}

.imprevistos-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.imprevistos-header h1 {
  font-weight: 900;
  /* margin-top: 2rem; */
  font-size: 3rem;
}

.imprevistos-section {
  font-size: 1.5rem;
  /* background-color: var(--card-color); */
  padding-block: 1rem;
  & li {
    list-style-type: none;
  }
}

.imprevisto-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imprevisto-item {
  display: flex;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--card-color);
  justify-content: space-between;
}

.imprevisto-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
